{#
/**
 * @ingroup themeable
 */
#}

{%
  set classes = [
    'menu',
    'social-media-links--platforms',
    'platforms',
    'inline horizontal',
  ]
%}

<ul{{ attributes.addClass(classes) }}>
  {% for platform in platforms %}
    <li>
      <a class="social-media-link-icon--{{ platform.id }} icon-icon--{{ platform.id }}--green" href="{{ platform.url }}" title="{{ platform.name }}" {{ platform.attributes }}>
        <span class="visually-hidden">{{ platform.name }}</span>
      </a>
    </li>
  {% endfor %}
</ul>
