{{ attach_library('ffw_theme/article-block') }}

<div class="article-block {{ article_type }}">
  {% if article_image is not empty %}
    <div class="article-block__image">
      {{ article_image }}
    </div>
  {% endif %}
  <div class="article-block__content">
    {% if article_category or article_date or article_time_to_read is not empty %}
      <div class="article-block__time-category article--meta">
        {{ article_category }}
        <div class="meta-date">{{ article_date }}</div>
        {{ article_time_to_read }}
      </div>
    {% endif %}
    <h3 class="article-block__title">{{ article_title }}</h3>
    {% if article_subtitle is not empty %}
      <div class="article-block__subtitle">{{ article_subtitle }}</div>
    {% endif %}
  </div>
</div>
